!!! Strict
%html
  
  %head
    %title Shuffleboard
    %link{ :href => 'stylesheets/solari.css', :type => 'text/css', :rel => 'stylesheet' }
    %script{ :src => 'javascripts/jquery.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/solari.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/application.js', :language => 'javascript', :type => 'text/javascript' }
  
  %body

    .result
