!!! 5
%html
  
  %head
    %title Raffleboard
    %link{ :href => 'stylesheets/reset.css', :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => 'stylesheets/application.css', :type => 'text/css', :rel => 'stylesheet' }
    %script{ :src => 'javascripts/jquery.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/rand.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/solari.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/application.js', :language => 'javascript', :type => 'text/javascript' }
  
  %body

    #header
      %a#add_entries_link{ :href => '#' }add entries
      %a#prizes_link{ :href => '#' }prizes
      %a#pick_1.pick{ :href => '#' } Pick 1
      %a#pick_5.pick{ :href => '#' } Pick 5
      
      %form{ :id => 'entries_form' }
        %input{ :type => :text, :id => :new_entries, :value => '1, 95, 100-150' }


    #wrapper
    
      #prizes
        %img{ :src => '/images/logo.gif' }
        %img{ :src => '/images/book.jpg' }

      #winners
        %h1 Winners
        %ul

      #drawing
        %ul

      #control_panel
        #entries
          %ul