!!! Strict
%html
  
  %head
    %title Raffleboard
    %link{ :href => 'stylesheets/solari.css', :type => 'text/css', :rel => 'stylesheet' }
    %script{ :src => 'javascripts/jquery.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/solari.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/application.js', :language => 'javascript', :type => 'text/javascript' }
  
  %body

    .result

    %form{ :id => 'range' }

      %label{ :for => :range1begin } Enter two ranges of numbers:

      .field
        %input{ :type => :text, :id => :range1begin, :value => '100000' }
        -
        %input{ :type => :text, :id => :range1end, :value => '100999' }

      .field
        %input{ :type => :text, :id => :range2begin, :value => '500000' }
        -
        %input{ :type => :text, :id => :range2end, :value => '500999' }

      .submit
        %input{ :type => :submit, :value => 'Pick one!' }
