!!! Strict
%html
  
  %head
    %title Shuffleboard
    %link{ :href => 'stylesheets/solari.css', :type => 'text/css', :rel => 'stylesheet' }
    %script{ :src => 'javascripts/jquery.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/solari.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/application.js', :language => 'javascript', :type => 'text/javascript' }
  
  %body

    .result

    %form{ :id => 'range' }
      %label{ :for => :rangebegin } Enter a range of numbers:
      %input{ :type => :text, :id => :rangebegin, :value => '100000' }
      -
      %input{ :type => :text, :id => :rangeend, :value => '999999' }
      %input{ :type => :submit, :value => 'Pick one!' }
