@font-face {
  font-family: 'Knockout';
  src: url('/fonts/knockout.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham') format('postscript');
}

html, body { overflow: auto; background: #292929 url(/images/body_background.gif); color: #fff; font-family: 'Gotham', arial, sans-serif; }
a { color: #ffea00; font-weight: normal; padding: 0 4px; text-decoration: none; text-shadow: 0px 0px 5px rgba(255,255,255, 0.5); -webkit-transition: all 0.5s linear; }
a:hover { color: #fff; opacity: 1.0; }

#header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 0 15px;
  font-family: 'Gotham', sans-serif; font-size: 16px; 
  line-height: 50px;
  text-transform: uppercase;
  background: rgba(0,0,0, 0.3);
}
#header a { display: block; height: 50px; }
#header a#add_entries_link { float: left; }
#header a#add_entries_link.done { opacity: 0.5; }
#header a#prizes_link { float: right;  }
#header a.pick {
  position: absolute;
  left: 50%;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
}
#header a#pick_1 { margin-left: -110px; }
#header a#pick_5 { margin-left: 10px; }
#header form { display: none; float: left; margin-left: 10px; }

#wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  margin: 0 auto;
  background: transparent url(/images/wrapper_background.gif) repeat-x;
}

#winners { position: absolute; top: 40px; left: 20px; width: 260px; }
#winners h1 { margin-bottom: 15px; font-size: 16px; text-transform: uppercase; text-shadow: -1px -1px 1px #000; }
#winners ul {
  border-right: 1px solid rgba(0,0,0, 0.3);
  border-left:  1px solid rgba(255,255,255, 0.05); 
}
#winners li {
  height: 40px;
  border-top: 1px solid rgba(255,255,255, 0.1);
  border-bottom: 1px solid rgba(0,0,0, 0.3);
  padding-left: 15px;
  font-size: 18px;
  line-height: 40px;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
  background: rgba(0,0,0, 0.1) url(/images/winner_item_background.png);
  white-space: nowrap;
}

#drawing { position: relative; width: 260px; min-height: 100px; margin: 67px auto 0 auto; }
#drawing li { margin-bottom: 14px; overflow: hidden; text-align: center; font-family: 'Knockout', courier; }
#drawing li span {
  position: relative;
  float: left;
  display: block;
  width: 40px;
  height: 64px;
  margin-right: 2px;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  color: white;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  background: #111 url(/images/tile_background.gif) repeat-x;
}
#drawing li span div {
  position: absolute; top: 50%; width: 100%; height: 2px; margin-top: -2px; background: url(/images/tile_split.png);
}

#prizes { position: absolute; top: 40px; right: 20px; width: 200px; }
#prizes img { display: block; max-width: 200px; margin: 0 auto 25px auto; }

#entries_form { margin-bottom: 20px; }
#entries_form label { display: block; padding-bottom: 2px; }
#entries_form input[type=text] { width: 140px; }

